@charset "UTF-8";

body{
    background: rgb(94, 156, 236);
    font: normal 15pt arial;

}

header{
    text-align: center;

}
section{
    background: white;
    border-radius: 10px;
    padding: 0px;
    width: 700px;
    margin: auto;
    margin-bottom: 0px;

}
#tela img{
    height: 250px;
    margin-bottom: 0px;

}
footer{
    text-align: center;
    color: white;

}

