@charset "UTF-8";

body{
    background: rgb(94, 156, 236);
    font: normal 15pt arial;

}

header{
    text-align: center;
    color: white;

}
section{
    background:white;
    border-radius: 10px;
    padding: 0px;
    width: 700px;
    margin: auto;
    margin-bottom: 0px;
}

#tela img{
    height: 250px;
    margin-bottom: 0px;
  
}
div{
    text-align: center;
}
#tela2 img{
    height: 300px;
    margin-top: 0px;
    padding: 0px;


}
footer{
    text-align: center;
    color: white;

}

